
    <div class="form-group">
      <label class="control-label col-sm-3">Ustaw hasło<span class="text-danger">*</span></label>
      <div class="col-md-5 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" name="password" id="password"
                 placeholder="Wpisz hasło (5-15 znaków)" value="" [(ngModel)]="user.password">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">Potwierdź hasło <span class="text-danger">*</span></label>
      <div class="col-md-5 col-sm-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" name="cpassword" id="cpassword"
                 placeholder="Potwierdź hasło" value="">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-10">
        <button (click)="update()" name="Submit" type="submit" class="btn btn-primary">Zarejestruj
        </button>
      </div>
    </div>


